/* Custom CSS */
html, body {
  font-family: 'Syne', sans-serif !important;
}

body {
  background-image: url('img/bg-draft.png');
  background-repeat: repeat;
}

h1 {
  display: inline-block;
  width: 48%;
}

p {
  font-size: 18px;
}

.col {
  display: flex;
}

.panel {
  flex: 1;
  color: white;
  background-color: rgba(29, 25, 62, 0.98);
  margin: 10px;
  padding: 20px;
}

.title-section {
  height: 38vh
}

.feature-section {
 height: 43vh;
}

.contact-section {
  height: 20vh;
}

.panel.lower-a {
  margin-right: 0px;
}
.panel.lower-b {
  margin-left: 0px;
}
